{{- if eq .chezmoi.hostname "Fullchee-Citylitics" }}
#!/bin/zsh

set -euo pipefail

brew tap atlassian/homebrew-acli

brew install acli      # atlassian CLI, for interacting with Jira and Confluence from the terminal
brew install mycli     # mysql CLI with completion
brew install mysql@8.4 # versioned formula / package
{{- end }}
