{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

set -euo pipefail

sudo sh -c 'echo "Defaults timestamp_timeout=120" > /etc/sudoers.d/timeout'

brew install adobe-acrobat-reader
brew install anki
brew install balenaetcher
brew install cap
brew install chatgpt
brew install claude
brew install db-browser-for-sqlite
brew install dbngin
brew install discord
brew install docker
brew install figma
brew install finicky
brew install firefox

# firefox policies
if [ "$OS" = darwin ]; then
  mkdir -p ~/Library/Application\ Support/Firefox/distribution
  cp ~/.dotfiles/post-install/browser/firefox-policies.json ~/Library/Application\ Support/Firefox/distribution/policies.json
fi

brew install font-hack-nerd-font
brew install font-jetbrains-mono
brew install freedom
brew install google-chrome
brew install handbrake
brew install imageoptim
brew install iina

brew install iterm2
if [ ! -f "$HOME/.iterm2_shell_integration.zsh" ]; then
  curl -L https://iterm2.com/shell_integration/zsh -o ~/.iterm2_shell_integration.zsh
fi
brew install --cask itermai

brew install jordanbaird-ice@beta  # 2026: non beta wasn't working on MacOS Tahoe 26
brew install karabiner-elements
brew install keycastr
brew install modern-csv
brew install notion
brew install obsidian
brew install raspberry-pi-imager
brew install raycast
brew install rectangle
brew install sejda-pdf
brew install sublime-text
brew install tableplus
brew install todoist
brew install visual-studio-code
brew install wechat
brew install whatsapp
brew install wispr-flow
brew install zoom

install_mas() {
  local app_id="$1"
  if ! mas list | awk '{print $1}' | grep -q "^${app_id}$"; then
    mas install "$app_id"
  fi
}

install_mas 1440147259 # ad guard for Safari

install_mas 937984704 # Amphetamine: keep mac working
wget https://github.com/x74353/Amphetamine-Enhancer/raw/master/Releases/Current/Amphetamine%20Enhancer.dmg
hdiutil attach Amphetamine\ Enhancer.dmg
cp -R /Volumes/Amphetamine\ Enhancer/Amphetamine\ Enhancer.app /Applications

install_mas 1352778147 # BitWarden: app store version has more features, like TouchID
install_mas 540348655  # Monosnap
install_mas 1406676254 # Splice Crop: crop the middle of an image (M1 macs only)
install_mas 1122008420 # TableTool, view CSVs

sudo rm /etc/sudoers.d/timeout
{{- end }}
