{{- if eq .chezmoi.os "linux" }}
#!/bin/zsh

set -euo pipefail

# docker
curl -fsSL https://get.docker.com -o get-docker.sh && sudo sh get-docker.sh
# dokploy - manage and deploy dotfiles and other files across machines, using git and rsync under the hood


# TODO: bitwarden

# dockploy (local vercel)
curl -sSL https://dokploy.com/install.sh | sudo sh
# lazydocker
curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash


# TODO: jellyfin
# https://jellyfin.org/docs/general/installation/container/?method=docker-compose


# TODO: tailscale


# TODO: zigbee server

{{- end }}
