{{- if eq .chezmoi.os "linux" }}
#!/bin/zsh

set -euo pipefail

# docker
curl -fsSL https://get.docker.com -o get-docker.sh && sudo sh get-docker.sh
sudo usermod -aG docker "$USER"

# dockploy (local vercel)
curl -sSL https://dokploy.com/install.sh | sudo sh

# TODO: Immich (Google Photos)
mkdir "$HOME/immich"
cd "$HOME/immich"
wget -O docker-compose.yml https://github.com/immich-app/immich/releases/latest/download/docker-compose.yml
wget -O .env https://github.com/immich-app/immich/releases/latest/download/example.env

# TODO: jellyfin
# https://jellyfin.org/docs/general/installation/container/?method=docker-compose

# lazydocker
curl https://raw.githubusercontent.com/jesseduffield/lazydocker/master/scripts/install_update_linux.sh | bash

# TODO: n8n (self hosted Zapier)

# opencode
curl -fsSL https://opencode.ai/install | bash

# TODO: tailscale

# VaultWarden
docker run -d --name vaultwarden -v /vw-data:/data --restart unless-stopped vaultwarden/server:latest

# TODO: Whatsapp bot (Baileys)

# TODO: zigbee server

{{- end }}
