{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

set -euo pipefail

sudo sh -c 'echo "Defaults timestamp_timeout=120" > /etc/sudoers.d/timeout'

install_cask adobe-acrobat-reader
install_cask anki
install_cask balenaetcher
install_cask cap
install_cask chatgpt
install_cask claude
install_cask db-browser-for-sqlite
install_cask dbngin
install_cask discord
install_cask docker
install_cask figma
install_cask finicky
install_cask firefox

# firefox policies
if [ "$OS" = darwin ]; then
  mkdir -p ~/Library/Application\ Support/Firefox/distribution
  cp ~/.dotfiles/post-install/browser/firefox-policies.json ~/Library/Application\ Support/Firefox/distribution/policies.json
fi

install_cask font-hack-nerd-font
install_cask font-jetbrains-mono
install_cask freedom
install_cask google-chrome
install_cask handbrake
install_cask imageoptim
install_cask iina

install_cask iterm2
if [ ! -f "$HOME/.iterm2_shell_integration.zsh" ]; then
  curl -L https://iterm2.com/shell_integration/bash -o ~/.iterm2_shell_integration.zsh
fi

install_cask jordanbaird-ice@beta  # 2026: non beta wasn't working on MacOS Tahoe 26
install_cask karabiner-elements
install_cask keycastr
install_cask modern-csv
install_cask notion

install_cask obsidian
install_cask raspberry-pi-imager
install_cask raycast
install_cask rectangle
install_cask sejda-pdf
install_cask sublime-text
install_cask tableplus
install_cask todoist
install_cask visual-studio-code
install_cask wechat
install_cask whatsapp
install_cask wispr-flow
install_cask zoom

mas install 1440147259 # ad guard for Safari

mas install 937984704 # Amphetamine: keep mac working
wget https://github.com/x74353/Amphetamine-Enhancer/raw/master/Releases/Current/Amphetamine%20Enhancer.dmg
hdiutil attach Amphetamine\ Enhancer.dmg
cp -R /Volumes/Amphetamine\ Enhancer/Amphetamine\ Enhancer.app /Applications

mas install 1352778147 # BitWarden: app store version has more features, like TouchID
mas install 540348655  # Monosnap
mas install 1406676254 # Splice Crop: crop the middle of an image (M1 macs only)
mas install 1122008420 # TableTool, view CSVs

sudo rm /etc/sudoers.d/timeout
{{- end }}
