# ----------- USING THIS FILE -----------
# in bash:
#if [ -f ~/.aliases ]; then
#     . ~/.aliases
#fi

# in .zshrc:
# source $HOME/.aliases
# ---------------------------------------

# 'linux', 'mac', or 'cdf'
platform='linux'
cdf='true'

# use 'config' instead of 'git' to manage this git repo
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME' $@

# ls with colour, <dir_name>/ 
alias ls='ls -GF'

alias uoft='ssh zhangful@cdf.utoronto.ca'

# for linux connection to drive
alias gdrive="google-drive-ocamlfuse ~/google-drive"

alias globalnpm="npm list -g --depth=0"
alias learningjs="~/Documents/learningjs"

# avoid using sudo with global npm modules
export PATH=~/.npm-global/bin:$PATH

alias vsc="code"
alias gitadddeleted="git ls-files --deleted -z | xargs -0 git rm"

# copy cwd to clipboard
if [[ "$platform" == 'linux' ]]; then
	alias cpcwd="pwd | xclip -selection clipboard"
	alias chrome="google-chrome"
elif [[ $platform == 'mac' ]]; then
	alias cpcwd="pwd | pbcopy"
	alias chrome="open -a \"Google Chrome\""
fi

alias "write-short"="write-good --no-passive --no-adverb --no-tooWordy"
alias chrome="google-chrome"
alias updatevsc="wget https://vscode-update.azurewebsites.net/latest/linux-deb-x64/stable -O /tmp/code_latest_amd64.deb; sudo dpkg -i /tmp/code_latest_amd64.deb"
alias backup='git init; git add .; git commit -m "init commit"'

if [[ "$cdf" == 'true' ]]; then
    alias subl="~/sublime_text_3/sublime_text"
    alias opendir="xdg-open"
    alias code="~/VSCode-linux-x64/bin/code"
fi
