# --- CONFIG
# use 'config' instead of 'git' to manage this git repo, lose all git auto-complete commands :(
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME' $@
alias configpull='git stash && git pull && git stash pop'
alias sz="source ~/.zshrc"

# --- Linux-only
#SETUP (stash these configurations before pulling)
cdf=false

alias updatevsc="wget https://vscode-update.azurewebsites.net/latest/linux-deb-x64/stable -O /tmp/code_latest_amd64.deb; sudo dpkg -i /tmp/code_latest_amd64.deb"
alias chrome="google-chrome"
alias gdrive="google-drive-ocamlfuse ~/google-drive"
alias rmgdrive="fusermount -u ~/google-drive"
alias cpcwd="pwd | xclip -selection clipboard"

# UofT CDF Settings
if [[ cdf = true ]]; then
    alias subl="~/sublime_text_3/sublime_text"
    alias opendir="xdg-open"
    alias code="~/VSCode-linux-x64/bin/code"
    # diskusage to figure out which folders are using up space
    # alt-f2 to launch KRunner (to open programs)
fi

# --- Cross-platform
alias py="python"
alias vsc="code"
alias ls='ls -GF'
alias uoft='ssh zhangful@teach.cs.utoronto.ca'
alias globalnpm="npm list -g --depth=0"

# get the largest files
alias diskusage="du -h . | sort -rh" | head -100
alias syncdrives='rsync -av --exclude "My Passport/TV Shows" --exclude "My Passport/Movies" "/media/fancyferret/My Passport" /media/fancyferret/second-backup'
alias ipaddr="ifconfig | grep inet"

alias test="npm test"
alias psg="ps aux | grep"
alias pgrep="pgrep -f"
alias eclipse="/home/fancyferret/eclipse/java-neon/eclipse"
alias desktopentries="/usr/share/applications"