[user]
	email = fullchee@outlook.com
	name = Fullchee Zhang
[credential]
	helper = store
[push]
	default = simple
[alias]
	st = status -s
	ci = commit
	br = branch
	co = checkout
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	add-deleted = !git ls-files --deleted -z | xargs -0 git rm
	backup = "!git init; git add .; git commit -m \"init commit\"; git status"
  
[core]
	editor = vim
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
