[user]
	email = fullchee@outlook.com
	name = Fullchee Zhang
[credential]
	helper = store
[push]
	default = simple
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
  
[core]
	editor = vim
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    
[alias]
    st = status -s
    ls = log --decorate --oneline
    ll = log --decorate --numstat
