[Desktop Entry]
Type=Application
Exec=pomello
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Pomello
Name=Pomello
Comment[en_CA]=
Comment=