[Desktop Entry]
Type=Application
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=oihmkpogbcncclhnjdcnbhpgmidhcoed
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Todoist
Name=Todoist
Comment[en_CA]=
Comment=
