[Desktop Entry]
Type=Application
Exec=/home/fancyferret/opt/Todoist/todoist
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_CA]=Todoist
Name=Todoist
Comment[en_CA]=
Comment=
