# Table of contents
# General
# Android
# Databases
# Networking

## -------- Android --------
export ANDROID_SDK=$HOME/Library/Android/sdk
export PATH=$PATH:$ANDROID_SDK/tools
export PATH=$PATH:$ANDROID_SDK/tools/bin
export PATH=$PATH:$ANDROID_SDK/platform-tools
## -------- Android end --------

## -------- Databases --------
{{ if eq .chezmoi.os "darwin" -}}
export PATH="/opt/homebrew/opt/postgresql@18/bin:$PATH"
{{- end }}
alias copydb=createdb -O postgres -T

renamedb() {
  local old_db_name=$1
  local new_db_name=$2

  if [ -z "$old_db_name" ] || [ -z "$new_db_name" ]; then
    echo "Usage: rename_or_create_db <old_db_name> <new_db_name>"
    return 1
  fi

  echo "Checking if database '$new_db_name' exists..."

  # Check if the new database already exists
  if psql -U postgres -lqt | cut -d \| -f 1 | grep -qw "$new_db_name"; then
    echo "Database '$new_db_name' already exists."
  else
    echo "Renaming database '$old_db_name' to '$new_db_name'..."
    # Rename the old database to the new name
    psql -U postgres -c "ALTER DATABASE \"$old_db_name\" RENAME TO \"$new_db_name\";"
    echo "Database '$old_db_name' has been renamed to '$new_db_name'."
  fi
}

alias killpostmaster="rm /usr/local/var/postgres/postmaster.pid"
alias fixpsql="killpostmaster"

# mv_table $DB_SRC $DB_DEST "table_name"
function mv_table {
  psql -d $2 -c "TRUNCATE TABLE $3;"
  pg_dump -d $1 --no-owner --no-acl -Fc --table=$3 | pg_restore -d $2 --no-owner --no-acl --table=$3
}

## -------- Databases END --------


## -------- Networking --------
get-ip() {
  echo Your ip is; dig +short myip.opendns.com @resolver1.opendns.com;
}

get-wifi-mac() {
    # 1. Extract the MAC address (jumping 2 lines down from Wi-Fi)
    local mac=$(networksetup -listallhardwareports | \
                grep -A 2 "Wi-Fi" | \
                grep -oE "([0-9a-fA-F]{2}:){5}[0-9a-fA-F]{2}")

    # 2. Check if we actually found something
    if [ -n "$mac" ]; then
        echo "$mac"            # Print to terminal
        echo -n "$mac" | pbcopy # Copy to clipboard (the -n removes the newline)
    else
        echo "Error: Could not find Wi-Fi MAC address. ❌"
    fi
}


killport() {
    if [ -z "$1" ] ; then
        echo 'Usage: killport <portnumber'
        return
    fi
    kill $(lsof -t -i:"$1")
}

##################### Node

{{ if eq .chezmoi.os "darwin" -}}
export PNPM_HOME="$HOME/Library/pnpm"
{{- end}}
export PATH="$PNPM_HOME:$PATH"

#################### Node end ####################


#################### Python ####################
alias py=python
export PIP_REQUIRE_VIRTUALENV=true
alias ptpy=ptpython

export PATH="$HOME/.local/bin:$PATH"  # pipx adds packages here

if [ -f "$HOME/.local/bin/env" ]; then
  . "$HOME/.local/bin/env"
fi

eval "$(uv generate-shell-completion zsh)"

venv() {
  # no arg given -> try venv and .venv
  if [[ -z "$1" ]]; then
    if [[ -f "venv/bin/activate" ]]; then
      source venv/bin/activate
      return
    elif [[ -f ".venv/bin/activate" ]]; then
      source .venv/bin/activate
      return
    elif [[ -f "../venv/bin/activate" ]]; then
      source ../venv/bin/activate
      return
    elif [[ -f "../.venv/bin/activate" ]]; then
      source ../.venv/bin/activate
      return
    else
      echo "Please provide a path to your venv. Didn't find a venv or .venv"
      return 1
    fi
  fi

  if [[ -f "$1/venv/bin/activate" ]]; then
    source "$1/venv/bin/activate"
  elif [[ -f "$1/.venv/bin/activate" ]]; then
    source "$1.venv/bin/activate"
  elif [[ -f "$1/bin/activate" ]]; then
    source "$1/bin/activate"
  else
    echo "'$1/bin/activate' does not exist."
    return 1
  fi
}

#################### Python end  ####################
