{{- if eq .chezmoi.hostname "Fullchee-Citylitics" }}
#!/bin/zsh

set -euo pipefail

brew tap atlassian/homebrew-acli

brew install acli      # atlassian CLI, for interacting with Jira and Confluence from the terminal
brew install ansible
brew install mycli     # mysql CLI with completion
brew install mysql@8.4 # versioned formula / package


# ensure citylitics secrets file exists with placeholders
SECRETS_FILE="$HOME/.dotfiles/shell-init/citylitics-secrets.sh"
if [ ! -f "$SECRETS_FILE" ]; then
  cat <<'EOF' > "$SECRETS_FILE"
# staging
export EJSON_PUBLIC_KEY=
export EJSON_PRIVATE_KEY=
EOF
fi

{{- end }}
