# Executes commands at the start of an interactive session.

# Docker CLI completions - must be before compinit
fpath=($HOME/.docker/completions $fpath)

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# Unset manpath so we can inherit from /etc/manpath via the `manpath` command
unset MANPATH # delete if you already modified MANPATH elsewhere in your config
export MANPATH="$NPM_PACKAGES/share/man:$(manpath)"

# This tells zsh to print a mark and move to a new line if the output lacks one
setopt PROMPT_SP

# RPROMPT='[%D{%L:%M:%S}] '$RPROMPTE

# fpath=(~/path/to/wd $fpath)
# export HTTPS=true
# export SSL_CRT_FILE=~/.localhost-ssl/localhost.crt
# export SSL_KEY_FILE=~/.localhost-ssl/localhost.key
export PATH="/usr/local/sbin:/usr/local/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"

source "$HOME/.dotfiles/shell-init/file-scripts.sh"
source "$HOME/.dotfiles/shell-init/git-scripts.sh"
source "$HOME/.dotfiles/shell-init/programming-scripts.sh"
source "$HOME/.dotfiles/shell-init/terminal.sh"

{{ if eq .chezmoi.os "darwin" -}}
source "$HOME/.dotfiles/shell-init/mac.sh"
{{- end }}

{{ if eq .chezmoi.hostname "Fullchee-Citylitics" -}}
source "$HOME/.dotfiles/shell-init/citylitics.sh"

# initialized in run_once_citylitics.sh.tmpl but not in chezmoi since it has secrets that aren't mine to encrypt
if [ -f "$HOME/.dotfiles/shell-init/citylitics-secrets.sh" ]; then
  source "$HOME/.dotfiles/shell-init/citylitics-secrets.sh"
fi
{{- end }}
