# Executes commands at the start of an interactive session.

# Docker CLI completions - must be before compinit
fpath=($HOME/.docker/completions $fpath)

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

if [[ -f "$HOME/google-cloud-sdk/completion.zsh.inc" ]]; then
  source "$HOME/google-cloud-sdk/completion.zsh.inc"
fi

# Unset manpath so we can inherit from /etc/manpath via the `manpath` command
unset MANPATH # delete if you already modified MANPATH elsewhere in your config
export MANPATH="$NPM_PACKAGES/share/man:$(manpath)"

# This tells zsh to print a mark and move to a new line if the output lacks one
setopt PROMPT_SP

# RPROMPT='[%D{%L:%M:%S}] '$RPROMPTE

source "$HOME/.dotfiles/shell-init/file-scripts.sh"
source "$HOME/.dotfiles/shell-init/git-scripts.sh"
source "$HOME/.dotfiles/shell-init/terminal_dx.sh"
