{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

set -euo pipefail

# ====== APP INSTALLATIONS ======

sudo sh -c 'echo "Defaults timestamp_timeout=120" > /etc/sudoers.d/timeout'

ensure_brew adobe-acrobat-reader
ensure_brew iina
ensure_brew imageoptim
ensure_brew iterm2
if [ ! -f "$HOME/.iterm2_shell_integration.zsh" ]; then
  curl -L https://iterm2.com/shell_integration/zsh -o ~/.iterm2_shell_integration.zsh
fi
ensure_brew itermai
ensure_brew karabiner-elements
ensure_brew keycastr
ensure_brew raycast
ensure_brew rectangle
ensure_brew thaw
ensure_brew wispr-flow

install_mas() {
  local app_id="$1"
  if ! mas list | awk '{print $1}' | grep -q "^${app_id}$"; then
    mas install "$app_id"
  fi
}

install_mas 1440147259 # ad guard for Safari

install_mas 937984704 # Amphetamine: keep mac working
wget https://github.com/x74353/Amphetamine-Enhancer/raw/master/Releases/Current/Amphetamine%20Enhancer.dmg
hdiutil attach Amphetamine\ Enhancer.dmg
cp -R /Volumes/Amphetamine\ Enhancer/Amphetamine\ Enhancer.app /Applications

install_mas 1352778147 # BitWarden: app store version has more features, like TouchID
install_mas 540348655  # Monosnap
install_mas 1521432881 # Session Pomodoro Focus Timer
install_mas 1406676254 # Splice Crop: crop the middle of an image (M1 macs only)
install_mas 1122008420 # TableTool, view CSVs

sudo rm /etc/sudoers.d/timeout

# ====== CONFIGURATION ======

# make /etc/hosts immutable only if not already done
if ! ls -lO /etc/hosts | grep -q schg; then
  sudo chflags schg /etc/hosts # makes the file immutable, can't sudo
else
  echo "/etc/hosts already immutable, skipping"
fi

brew install duti                        # set default applications
duti -s com.microsoft.VSCode vscode-file # VSCode to open vscode-file:// links (generated by GitHub Copilot)

# IINA for common video/audio formats
IINA_BUNDLE="com.colliderli.iina"
EXTENSIONS=(aac avi flac flv m4a m4v mkv mov mp3 mp4 mpeg mpg wav webm wmv)

for ext in "${EXTENSIONS[@]}"; do
  # Syntax: duti -s <bundle_id> <extension> <role>
  # duti fails when you set the extension with a `.` prefix (.$ext)
  duti -s $IINA_BUNDLE $ext all
done

### Calendar
defaults write com.apple.iCal "Default duration in minutes for new event" -int 30
killall Calendar >/dev/null 2>&1 || true

### DOCK
# Speed up dock show/hide
defaults write com.apple.dock autohide-delay -float 0
defaults write com.apple.dock autohide-time-modifier -int 0
# Dock to left
defaults write com.apple.dock orientation -string "left"
defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'
defaults write com.apple.dock showhidden -bool TRUE
defaults write com.apple.dock tilesize -int 36

### FINDER
# Path at the top of finder
defaults write com.apple.finder _FXShowPosixPathInTitle -bool true
# show dotfiles in Finder
defaults write com.apple.finder AppleShowAllFiles YES
defaults write com.apple.finder ShowPathbar -bool true # doesn't seem to work
killall Finder >/dev/null 2>&1 || true

### Keyboard
# disable double space -> period
defaults write NSGlobalDomain NSAutomaticPeriodSubstitutionEnabled -bool false

### Menu bar
# show bluetooth in menu bar
/usr/bin/defaults write com.apple.controlcenter.plist Bluetooth -int 18
defaults write ~/Library/Preferences/ByHost/com.apple.controlcenter.plist BatteryShowPercentage -bool true
killall ControlCenter >/dev/null 2>&1 || true

### Night Shift
defaults write com.apple.CoreBrightness CBBlueReductionSchedule -dict \
  enabled -bool true \
  start -float 20.0 \
  end -float 6.0
killall CoreBrightness >/dev/null 2>&1 || true

### SAFARI
# Show the full website address in Safari's address bar
defaults write com.apple.Safari ShowFullURLInSmartSearchField -bool true
# Enable Safari's Develop menu and Web Inspector
defaults write com.apple.Safari IncludeDevelopMenu -bool true
defaults write com.apple.Safari WebKitDeveloperExtrasEnabledPreferenceKey -bool true
defaults write com.apple.Safari com.apple.Safari.ContentPageGroupIdentifier.WebKit2DeveloperExtrasEnabled -bool true
killall Safari >/dev/null 2>&1 || true

### Screenshot
defaults write com.apple.screencapture type clipboard
killall SystemUIServer >/dev/null 2>&1 || true

### TRACKPAD
# increase trackpad sensitivity
defaults write -g com.apple.mouse.scaling 4.0
defaults write -g com.apple.trackpad.scaling 4.0
# Disable swipe between pages
defaults write -g AppleEnableSwipeNavigateWithScrolls -bool false
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerHorizSwipeGesture -int 0
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad TrackpadThreeFingerHorizSwipeGesture -int 0
# App Exposé: swipe down with three fingers
defaults write com.apple.dock showAppExposeGestureEnabled -bool true
defaults write com.apple.AppleMultitouchTrackpad TrackpadThreeFingerVertSwipeGesture -int 2
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad TrackpadThreeFingerVertSwipeGesture -int 2
# feedback sound when changing volume
defaults write -g com.apple.sound.beep.feedback -integer 1

# always show scrollbars to see UX issues (on by default on Windows and Linux)
defaults write NSGlobalDomain AppleShowScrollBars -string Always

{{- end }}
